// Colors
$grey: #333333;
$table-head-background: #5D8AA8;

// Navigation colors
$nav-background: $grey;
$nav-text-color: white;

//island pool
$island-pool-color: #444;

// Clock variables
$island-text-color: #B22222;
$small-island-text-color: #555;
$island-bg-color: #B5D0E2;
$island-border-color: #2099E8;
$unavailable-island-bg-color: #888;
$unavailable-island-border-color: #333;

// Application header variables
$header-text-color: white;
$header-bg-color: #B5D0E2;
$header-border-color: #2099E8;

// Wallet and Store variables
$wallet-text-color: white;
$wallet-bg-color: #AAA;
$wallet-border-color: #888;

// Components Section variables
$component-bg-color: #EEE;
$component-border-color: #DDDDDD;
$pool-width: 40rem;
// Message Component Section variables
$message-text-color: black;
$message-bg-color: #DDD;
$message-border-color: #CCC;
