

.about-page{
  margin: 5rem 15rem 5rem 15rem;
  padding: 1rem;
  border-width: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.margin{
  margin: 2rem;

}
