.data-table {
  padding: 2rem 2rem;

}

.data-table-header {
  background-color: $table-head-background;
}

.no-data{
  display: flex;
  text: center;
}

.island-placement{
  align-items: center;
  display: flex;
  justify-content: center;
  width: $pool-width;
}
.store-text {
  color: $wallet-text-color;
  font-size: 2.25rem;
  font-weight: 300;
}
