.button-primary {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: 50%;
  padding: 1rem;
}

.center-button {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1rem;
  
}
