.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  .active-link {
    font-weight: bold;
  }
}

.author-text {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}
